<footer class="container">
  <div class="wrapper_footer">
    <div class="block_footer">
      <h4>Dukungan</h4>
      <a href="#">FAQ</a>
      <a href="#">Penyelesaian masalah</a>
      <a href="#">Tempat pusat perbaikan</a>
    </div>
    <div class="block_footer">
      <h4>Tentang</h4>
      <a href="#">Brand Kami</a>
      <a href="#">Ruang Redaksi</a>
      <a href="#">Toko</a>
    </div>
    <div class="block_footer">
      <h4>Hubungi Kami</h4>
      <a href="mailto:service.id@realme.com">service.id&#64;realme.com</a>
      <div class="wrapper_soc">
        <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/VectorA.png" alt="soc" width="100%"></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="../../../assets/VectorB.png" alt="soc" width="100%"></a>
        <a href="https://twitter.com/" target="_blank"><img src="../../../assets/VectorC.png" alt="soc" width="100%"></a>
      </div>

    </div>
    <div class="block_footer">
      <button mat-flat-button color="accent">realmi</button>
      <p>Realme - Menghubungkan Impian, <br/> Mengubah Hidup</p>
    </div>
  </div>
</footer>
