  <div class="container">

    <div class="block_header">
      <h1>Realme 10 Pro+ 5G</h1>
      <h2>Curved Display, New Vision</h2>
      <p>120Hz Curved Vision display | 108MP Pro light Camera</p>

      <div class="price_header">
        <p>$ 5.999</p>
        <!-- <p>{{ 5.999.000 | currency }}</p> -->
      </div>

      <div class="button_header">
        <button mat-raised-button color="primary">Cek Spesifikasi</button>
        <button mat-raised-button color="accent">Beli Sekarang</button>
      </div>

    </div>

  </div>

