<div class="background_card" [ngClass]="{ active: isDitails }"></div>
<div class="block_kards" [ngClass]="{ active: isDitails }">
  <mat-card>
    <mat-card-content>
      <img
        [src]="card.image"
        alt="products"
        class="img"
        [ngClass]="{ active: isDitails }"
      />
      <h4>{{ card.title }}</h4>
      <p class="description" *ngIf="isDitails || iscart">{{ card.description }}</p>
      <div class="wrapper_price">
        <p class="prise_card">Price: {{ card.price | currency : "EUR" }}</p>
        <p>{{ card.rating.rate }}</p>
      </div>

      @if(!iscart){
        <button
        class="button_card"
        mat-raised-button
        color="{{ color }}"
        (click)="showDitails()"
      >
        {{ isDitails ? "Hide" : "Show" }} Details
      </button>
      }

      <button
        (click)="addToCard(card.id)"
        *ngIf="isDitails || iscart"
        class="button_card add"
        mat-stroked-button
        color="warn"
      >
        {{ !isAddToCart ? "ADD to" : "remove from" }} cart
      </button>
    </mat-card-content>
  </mat-card>
</div>
