<div class="wraper_cards">
  <div class="block_kards">

    <div class="wrapper_card">
      <mat-card>
        <mat-card-content>
          <img src="../../../assets/productimages.jpg" alt="products" width="100%">
          <h4>Realme Pad Mini</h4>
          <p>Peningkat Kinerja Kuat</p>
          <p class="prise_card">$ 2.399</p>
          <button mat-raised-button color="accent">Beli Sekarang</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="wrapper_card">
      <mat-card>
        <mat-card-content>
          <img src="../../../assets/productimages.jpg" alt="products" width="100%">
          <h4>Realme Pad Mini</h4>
          <p>Peningkat Kinerja Kuat</p>
          <p class="prise_card">$ 2.399</p>
          <button mat-raised-button color="accent">Beli Sekarang</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="wrapper_card">
      <mat-card>
        <mat-card-content>
          <img src="../../../assets/productimages.jpg" alt="products" width="100%">
          <h4>Realme Pad Mini</h4>
          <p>Peningkat Kinerja Kuat</p>
          <p class="prise_card">$ 2.399</p>
          <button mat-raised-button color="accent">Beli Sekarang</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="wrapper_card">
      <mat-card>
        <mat-card-content>
          <img src="../../../assets/productimages.jpg" alt="products" width="100%">
          <h4>Realme Pad Mini</h4>
          <p>Peningkat Kinerja Kuat</p>
          <p class="prise_card">$ 2.399</p>
          <button mat-raised-button color="accent">Beli Sekarang</button>
        </mat-card-content>
      </mat-card>
    </div>




  </div>
</div>
