.block_kards {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 15px;
  position: relative;

  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: auto;
      height: 120px;
      margin-bottom: 10px;
    }

    .img.active {
      width: 200px;
      height: auto;
    }


    h4 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    p {
      font-weight: 300;
      margin-bottom: 5px;
    }

    .prise_card {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;

    }

  }

}

.wrapper_price {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button_card {
  position: absolute;
  bottom: 15px;
}

.button_card.add{
  right: 15px;
}

mat-card {
  width: 100%;
  transition: .3s;
  z-index: 1;
  padding-bottom: 30px;
}

.block_kards.active {
  width: 60%;
  position: fixed;
  left: 0;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background_card {
  display: none;
}

.background_card.active {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.516);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

}
