<div class="wrapper_nav">
  <nav class="nav container">
    <div class="block_nav">
      <a href="/" mat-flat-button color="accent">Main</a>
      <ul class="main_nav">
        <li><a href="/all-products">All products</a> </li>
        <li><a href="/your-cart">Your cart</a></li>
        <!-- <li>Laptop</li>
        <li>Aksesoris</li> -->
      </ul>
    </div>
    <div class="block_nav">
      <a class="icon_nav" href="http://">
        <div class="iserch"></div>
      </a>
      <a class="icon_nav" href="http://">
        <div class="icart"></div>
      </a>
      <a class="icon_nav" href="http://">
        <div class="iuser"></div>
      </a>
    </div>
  </nav>
</div>
