.wrapper_nav{
  border-bottom: 1px solid #F3F3F3;
}

.nav{
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  .block_nav{
    display: flex;
    align-items: center;
  }
}

.main_nav{
  display: flex;
  li{
    margin-right: 25px;
    list-style: none;
    cursor: pointer;
    transition: .3s;
    font-weight: 400;
  }

  li:hover{
    color: #673ab7;;
  }
}

.icon_nav{
  scale: 1;
  transition: .3s;
  div{
  width: 23px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./img/iconsearch.png);
  margin-right: 20px;
  }
  .icart{
  background-image: url(./img/iconcart.png);
  }
  .iuser{
  background-image: url(./img/iconuser.png);
  margin-right: 0;
  }
}


.icon_nav:hover{
  scale: 1.1;
}

a{
  position: relative;
}


div.quantity{
  background-image: none !important;
  position: absolute;
  // width: 10px;
  // height: 10px;
  padding: 1px;
  background-color: #B70028;
  border-radius: 50%;
  right: -13px;
  top: -13px;
  color: #F3F3F3;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;

  p{
    margin-bottom: 0px;
  }


}
